*{box-sizing: border-box;}

body{

    max-width: 1250px;
    width: auto; 
    margin: auto;
    font-family: "Poppins", sans-serif;
    background-color: rgb(236, 234, 234);
    
}



h1{text-align: left;
    float: left;
    font-size: 90px;
}

.box1{text-align: left;
    float:left;
    font-size: 50px;
    margin-left: 250px;
}

.IMMAGINI{

    max-width: 1250px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 550px;
    clear: both;

   
}

.box img{

    width: 25%;
    float: left;
    padding: 7px;
   
}

.box3{

    margin-top: 78px;
    max-width: 500px;
    float: left;
    margin-bottom: 100px;
    /*border: 3px solid black;*/
    

}

.box3 img{

    width: 100%;
}

.text1{

    float: right;
    margin-top: 60px;
    margin-bottom: 150px;
    font-size: 28px;
    max-width: 600px;
    max-height: 300px;
    /*border: 2px solid black;*/

}

.text1 h2{
    margin-bottom: 0px;
}


.text2{
    max-width: 200px;
    float: left;
    font-size: 16px;
    margin-top: 4px;
    /*border:2px solid black;*/
}

.portfolio{

    float: left;
    clear: both;
    font-size: 25px;
    /*border: 3px solid black;*/
    margin-bottom: 30px;
    max-width: 1250px;
    
}

#le3immagini1{
    max-width: 405px;
    margin-top: 10px;
    clear: both;
    float: left;
}

#le3immagini1 img{

    width:100%;
}



#le3immagini2{

    max-width: 405px;
    margin-top: 10px;
    float: left;
    margin-left: 15px;
}
    

#le3immagini2 img{

    width: 100%;
}


#le3immagini3{

    max-width: 405px;
    margin-top: 10px;
    float: left;
    margin-left: 15px;
}

#le3immagini3 img{

    width: 100%;
}

.text4{

    margin-top: 5px;
    clear: both;
    float: left;
    font-size: 22px;
}

.text5{
    margin-top: 5px;
    float: left;
    font-size: 22px;
    margin-left: 225px
}

.text6{
    margin-top: 5px;
    float: left;
    font-size: 22px;
    margin-left: 225px
}

.text7{
    margin-top: 5px;
    float: left;
    clear: both;
    font-size: 17px;
    max-width: 405px;
   
}


.text8{
    margin-top: 5px;
    float: left;
    font-size: 17px;
    margin-left: 20px;
    max-width: 405px;
    
}

.text9{
    margin-top: 5px;
    font-size: 17px;
    max-width: 405px;
    float: right;
   
}

.infocontact{

    font-size: 25px;

    float: left;
    margin-top: 100px;
}

.ultimo-box{

    width: 400px;
    margin-right: 35px;
    /*display: inline-block;*/
    font-size: 20px;
    float: left;
}

.ultimo-box img{

    width: 100%;
}

.ultimo-box1{

    display: inline-block;
    font-size: 20px;
    
}

h4{
    font-size: 35px;
    margin-top: 0px;
}

